<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do</title>
  </head>

  <body>
    <h1>To Do List</h1>

    <form action="/todo/createTodo" method="POST">
      <h3>Add To Do</h3>
      <input type="text" placeholder="To Do" name="todoItem" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
